@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 69% 97%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 221 69% 94%;
    --input: 221 69% 94%;

    --primary: 242 48% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 242 48% 58% / 0.1;
    --secondary-foreground: 242 48% 58%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 78% 63%;
    --destructive-foreground: 0 0% 100%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .heading-xl {
    @apply text-2xl font-bold leading-7;
  }

  .heading-lg {
    @apply text-lg font-bold leading-6;
  }

  .heading-m {
    @apply text-sm font-semibold leading-5;
  }

  .heading-sm {
    @apply text-xs font-bold leading-4 tracking-widest text-medgray;
  }

  .body-lg {
    @apply text-xs font-medium leading-6;
  }

  .body-m {
    @apply text-xs font-bold leading-4;
  }

  .dark {
    --background: 235, 16%, 15%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 235, 12%, 27%;
    --input: 235, 12%, 27%;

    --primary: 242 48% 58%;
    --primary-foreground: 243 100% 82%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border font-PJS;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
